---
layout: default
title: About us
permalink: about.html
---
<div class="hero hero--smaller">
  <h1>About us</h1>
</div>
<ul class="authors">
  {% for author in data.authors %}
    <li><a href="{{ author.url }}">{{ author.title }}</a></li>
  {% endfor %}
</ul>
