<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <link rel="stylesheet" href="/css/syntax.css"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,800" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <nav  id="navbar" class="nav__wrapper">
    <div class="nav">
      <a href="/" class="nav__logo">
        <img src="/img/logo.svg" />
        <span>Ontola</span><span class="nav__logo__tld">.io</span>
      </a>
      <div class="nav__links">
        <a href="/">home</a>
        <a href="/blog">blog</a>
        <!-- <a href="/about">about</a> -->
        <a href="#footer">contact</a>
      </div>
    </div>
  </nav>
  <div class="container">
      {{ content }}
  </div>
  <div class="footer--wrapper" id="footer">
    <div class="footer">
      <div class="footer-row">
        <div href="/" class="footer__header">
          Ontola
        </div>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        {% for lang in site.languageNames %}
        {% if lang[0] == site.lang %} {% continue %} {% endif %}
        {% if page.namespace %}
          <a href="{% t {{ page.namespace }} {{ lang[0] }} %}">{{ lang[1] }}</a>
        {% elsif lang[0] == 'en' %}
          <a href="{{ site.baseurl_root }}/">{{ lang[1] }}</a>
        {% else %}
          <a href="{{ site.baseurl_root }}/{{ lang[0] }}/">{{ lang[1] }}</a>
        {% endif %}
      {% endfor %}
        <!-- <a href="/about">About</a> -->
      </div>
      <!-- <div class="footer-row">
        <div href="/" class="footer__header">What we do</div>
        <a href="/linked-data">Linked Data</a>
        <a href="/ontology-modelling">Ontology Modelling</a>
        <a href="/data-infrastructure">Data Infrastructure</a>
        <a href="/web-development">Web Development</a>
      </div> -->
      <div class="footer-row">
          <div href="/" class="footer__header">Contact</div>
          <a href="tel:0031636020942">
            <i class="fas fa-phone"></i>
            +316 360 209 42
          </a>
          <a href="mailto:info@argu.co">
            <i class="fas fa-envelope"></i>
            info@argu.co
          </a>
          <a href="https://goo.gl/maps/x5Sggs9X7L32">
            <i class="fas fa-map-marker-alt"></i>
            Koningslaan 62, Utrecht, NL
          </a>
          <div><a href="https://argu.co">
            <i class="fas fa-briefcase"></i>
            Argu B.V.</a> kvk 65684168<div>
        </div>
    </div>
  </div>
  <script src="/js/main.js"></script>
  <script src="/js/navbarScroll.js"></script>
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
